# zygote_proxy daemon
type zygote_proxy, domain;
type zygote_proxy_exec, exec_type, file_type;
init_daemon_domain(zygote_proxy)

allow zygote_proxy property_socket:sock_file write;
allow zygote_proxy init:unix_stream_socket connectto;
allow zygote_proxy device:dir { write add_name remove_name };
allow zygote_proxy device:chr_file { open write create unlink };
allow zygote_proxy system_prop:property_service set;
allow zygote_proxy zygote_proxy:capability mknod;
