type secmem_device, dev_type;
type ir_device, dev_type;
type env_device, dev_type;
type bootloader_device, dev_type;
type defendkey_device, dev_type;
type dtb_device, dev_type;
type dvb_device, dev_type;
