# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on early-init
    symlink /initlogo.rle.bak /initlogo.rle
    write /sys/class/graphics/fb0/blank 0
    write /sys/class/graphics/fb1/blank 1
    insmod /boot/tvin_common.ko
    insmod /boot/tvin_afe.ko
    insmod /boot/tvin_vdin.ko
    insmod /boot/tvin_hdmirx.ko
    insmod /boot/tvin_viuin.ko


on init
    mkdir /param 0771 system system
    mkdir /dtv 0771 system system
    mkdir /atv 0771 system system
    mkdir /cache 0770 system cache

    export BOOTCLASSPATH /system/framework/core.jar:/system/framework/core-junit.jar:/system/framework/bouncycastle.jar:/system/framework/ext.jar:/system/framework/framework.jar:/system/framework/telephony-common.jar:/system/framework/mms-common.jar:/system/framework/android.policy.jar:/system/framework/services.jar:/system/framework/apache-xml.jar:/system/framework/tv.jar

    mount ext4 inand@system /system ro noatime block_validity data=journal,noauto_da_alloc,commit=15,nodelalloc,debug
#    mount ext4 inand@system /system noatime block_validity data=journal,noauto_da_alloc,commit=15,nodelalloc,debug

    mount ext4 inand@param /param noatime block_validity data=journal,noauto_da_alloc,commit=15,nodelalloc,debug
    chown system system /param
    chmod 0771 /param

    setrlimit 13 40 40
    class_start first

    mount ext4 inand@dtv /dtv noatime block_validity data=journal,noauto_da_alloc,commit=15,nodelalloc,debug
    chown system system /dtv
    chmod 0777 /dtv

    mount ext4 inand@atv /atv noatime block_validity data=journal,noauto_da_alloc,commit=15,nodelalloc,debug
    chown system system /atv
    chmod 0777 /atv

    # We chown/chmod /data again so because mount is run as root + defaults
    mount ext4 inand@userdata /data nosuid nodev noatime block_validity data=journal,noauto_da_alloc,commit=15,nodelalloc,debug
    #mount ext3 /dev/block/cardblksd3 /data
    chown system system /data
    chmod 0771 /data
    chmod 0777 /param/burn_args.arg
    chown system system /param/burn_args.arg
    chmod 0777 /param/default_bootargs.args
    chown system system /param/default_bootargs.args 

on fs
# mount mtd partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    #mount ext4 /dev/block/cardblksd2 /system wait noatime block_validity data=journal,noauto_da_alloc,commit=15,nodelalloc,debug
    #mount ext4 /dev/block/cardblksd4 /data  noatime block_validity data=journal,noauto_da_alloc,commit=15,nodelalloc,debug
    #mount ext4 /dev/block/cardblksd3 /cache noatime block_validity data=journal,noauto_da_alloc,commit=15,nodelalloc,debug
    mount ext4 inand@cache /cache nosuid nodev noatime block_validity data=journal,noauto_da_alloc,commit=15,nodelalloc,debug

on post-fs-data

on boot

# Set this property so surfaceflinger is not started by system_init
    setprop system_init.startsurfaceflinger 0

    class_start core
    class_start main

on property:ro.build.type=eng
    mount ext4 inand@system /system rw remount noatime block_validity data=journal,noauto_da_alloc,commit=15,nodelalloc,debug
    
service wpa_supplicant /system/bin/wpa_supplicant -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf
    socket wpa_wlan0 dgram 660 system wifi
    class main
    group system wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
    -ip2p0 -Dnl80211 -c /data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -N \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf
    class main
    socket wpa_wlan0 dgram 660 system wifi
    group system wifi
    disabled
    oneshot
